.button {
    background-color: #4F42FB;
    border-radius: 20px;
    color: #f5f5f5;
    border: none;
    padding: 10px 15px;
    text-transform: capitalize;
    width: 100%;
}

.button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    color: #4F42FB;
}