.button {
    background-color: var(--primary-colour);
    border-radius: 20px;
    color: var(--secondary-bg-colour);
    border: none;
    padding: 10px 15px;
    text-transform: capitalize;
    width: 100%;
    box-shadow: 3px 5px 5px #e3e1ff;
}

.button:hover {
    cursor: pointer;
    background-color: var(--secondary-bg-colour);
    color: var(--primary-colour);
}