.postContainer {
    display: flex;
    flex-direction: column;
    color: #161616;
    margin: 70px 0;
}

.postContainer img {
    border-radius: 20px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}


