.postHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.postHeader h2 {
    margin: 0;
}

small {
    padding-right: 7px;
    font-size: 0.7rem;
}

.postHeader img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 20px;
}