.postContainer {
    display: flex;
    flex-direction: column;
    color: var(--primary-text-colour);
    margin: 80px 0;
}

.postContainer h3,
.postContainer p {
    margin: 5px 0;
}

.postContainer img {
    border-radius: 20px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}



