* {
  box-sizing: border-box;
}

html {
  font-family: "omnes-pro", sans-serif;
  background-color: #fefefe;
}

h1 {
  display: none;
}

a:hover {
  cursor: pointer;
}

/*Temporary styling to make it easier to see the page content*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  max-height: 40px;
}

.reactButton {
  background-color: #fefefe;
  border: none;
  height: 30px;
  text-align: left;
  font-size: 1.5rem;
}

.reactButton:hover {
  cursor: pointer;
}

hr {
  width: 100%;
}