* {
  box-sizing: border-box;
}

html {
  font-family: "omnes-pro", sans-serif;
  background-color: #fefefe;
  color: #161616;
}

h1 {
  display: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

/*Temporary styling to make it easier to see the page content*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  max-height: 40px;
}

hr {
  width: 100%;
}

fieldset {
  border: none;
}

/*textarea,
input {
  border: none;
  background-color: #fefefe;
  border-bottom: 2px solid #e3e1ff;
  margin-bottom: 5px;
  display: block;
  width: 100%;
}*/