* {
  box-sizing: border-box;
}

html {
  font-family: "omnes-pro", sans-serif;
  background-color: #fefefe;
  color: #161616;
}

h1 {
  display: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

input, 
textarea {
  border: none;
  background-color: #fefefe;
  border-bottom: 2px solid #e3e1ff;
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

textarea {
  resize: none;
}

/*Temporary styling to make it easier to see the page content*/
fieldset {
  border: none;
}

.updateImg {
  height: 80px;
  overflow: hidden;
}

.menuTrigger img {
  position: absolute;
  top: 60px;
  right: 50px;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
  float: right;
  z-index: 100;
}

.dropdownMenu {
  position: absolute;
  top: 150px;
  right: 30px;
  width: 100%;
  right: center;
  background-color: #fefefe;
  height: 100%;
  border-radius: 20px;
}

.dropdownMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdownMenu.inactive {
  opacity: 0;
  height: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.title {
  font-weight: 600;
  font-size: 1rem;
}

/*textarea,
  input {
  border: none;
  background-color: #fefefe;
  border-bottom: 2px solid #e3e1ff;
  margin-bottom: 5px;
  display: block;
  width: 100%;
}*/