.footer { 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid var(--secondary-colour);
    margin-top: 40px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }