.footer { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--secondary-colour);
    margin: 60px auto 0;
    width: 90%;
    padding: 10px;
}

.logo {
    height: 30px;
}

.smallLogo {
    display: none;
}

@media screen and (max-width: 900px) {
    .logo {
        display: none;
    }

    .smallLogo {
        display: block;
        height: 30px;
    }

    .footer p {
        font-size: 0.8rem;
    }
}
