.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto 30px;
  }

  .navigation img {
    max-height: 40px;
  }

  .navigation a:hover {
    font-weight: 600;
    border-bottom: 2px solid var(--secondary-colour);
  }

@media screen and (max-width: 900px) {
    .navigation {
      width: 90%;
    }
}